.content {
    width: 75%;
    margin: auto;
}

.sign-in {
    width: 20%;
    margin: 100px auto auto;
}

.btn-auth {
    margin-top: 30px;
}

.save-task {
    height: 47px;
    padding: inherit;
}

.small-paddings {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.edit-box {
    margin-top: 10%;
}

.edit-task {
    height: 47px;
    padding: inherit;
    margin-top: 40px;
}